<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="them7ex3" frontName="them7ex3">
            <module name="Perspective_Them7ex3" />
        </route>
    </router>
</config>